<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Todo App</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>

    <div class="container">
        <h1>My Todo List</h1>

        <!-- CREATE FORM -->
        <form action="/add" method="POST">
            <input type="text" name="title" placeholder="What needs to be done?" required>
            <button type="submit" class="btn-add">Add</button>
        </form>

        <!-- READ LIST -->
        
       <ul>
        <tr>
            <th>Sr.no</th>
            <th>Name</th>
            <th>Dep</th>
        </tr>
        <br>
        {% for item in show %}
            <tr>
              <td>{{item.id}}</td>  
              <td>{{item.name}}</td> 
              <td>{{item.department}}</td> 
            </tr>
            <br>
        {% endfor %}
        
       </ul>
    </div>

</body>
</html>