<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Todo App</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>

    <div class="container">
        <h1>My Todo List</h1>

        <!-- CREATE FORM -->
        <form action="/add" method="POST">
            <input type="text" name="title" placeholder="What needs to be done?" required>
            <button type="submit" class="btn-add">Add</button>
        </form>

        <!-- READ LIST -->
        <ul>
            {% for todo in todo_list %}
            <li>
                <!-- Conditional Rendering: Check if todo is complete -->
                <span class="task-text {% if todo.complete %}task-done{% endif %}">
                    {{ todo.title }}
                </span>

                <div class="actions">
                    <!-- UPDATE LINK -->
                    {% if not todo.complete %}
                    <a href="/update/{{ todo.id }}" class="btn-check">Done</a>
                    {% else %}
                    <a href="/update/{{ todo.id }}" class="btn-check tag-complete">Undo</a>
                    {% endif %}

                    <!-- DELETE LINK -->
                    <a href="/delete/{{ todo.id }}" class="btn-delete">Delete</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

</body>
</html>