body{
    font-family: Arial, sans-serif;
    margin: 0;
    height:900px;
    width: 100%;
   
}
nav{
    height:20%;
    display:flex;
    justify-content:space-between;
    align-items: center;
}

nav p{
    width: 40%;
    font-size: 25px;
    font-weight: bold;
    margin-right: 10px;

}

nav button{
    background-color: lightblue;
    display:flex;
    padding: 15px 25px;
    background-color: #ffffff;
    color: black;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0px 0px 5px grey;
    font-size: 17px;
    margin-left: 20px;
}

.hero{
    display:flex;
    justify-content: space-evenly;
    margin-top: 50px;
    height:50%;
    gap:8px;
}
.hero div{
    display:flex;
    justify-content: center;
    gap:8px;
    width: 29%;
    height: 110%;
    border-radius: 40px;

}

.bottom{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    height:20%;
    gap:10px;
    padding:20px;
    font-size:20px;
    font-weight:bold;
}
.niche{
    font-size: 45px;
    height:50%;  
    display:flex;
    justify-content: space-around;
    align-items: center;
    gap:100px;
    width:100%;
}

.niche div{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
    height:100%;
    width:100%;
}

.niche p{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    color:grey;
}

.box1{
   background-color: rgb(13, 26, 45);
   overflow: hidden;
   
}

.box2{
    background-color: rgb(1, 105, 196);
    overflow: hidden;
}

.box3{
    background-color: rgb(240, 240, 250);
    overflow: hidden;
    object-fit: cover;
}